<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= t "mailers.hi" %></h1>
    <p>
      <%= t "mailers.assign_trainee.body" %> <%= @course.name %>
    </p>
  </body>
</html>
