<% provide :title, t("subjects.edit") %>
<% provide :button_text, t("subjects.btn_save") %>
<h1><%= t("subjects.edit") %></h1>

<%= render "form", subject: @subject %>

<%= link_to t("subjects.show"), @subject %> |
<%= link_to t("subjects.back"), subjects_path %>
