<div id="acitivities">
  <% if @activities.any? %>
    <%= render @activities %>
    <%= will_paginate @activities %>
  <% else %>
    <div class="alert alert-danger no_activity"><%= t "activities.no_activity" %></div>
  <% end %>
</div>
